# BaseLine

In [27]:
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import cosine_similarity
import re
import string

In [28]:
articals_df = pd.read_csv('out.csv')

In [30]:
sample_df = articals_df.sample(1050, replace = False, random_state=50) 
sample_df.head(2)

,Unnamed: 0,index,title,introductions
285581,285581,285582,زيت جوز الهند,يعتبر زيت جوز الهند من أفضل الزيوت المستخدمة ل...
161313,161313,161314,ممارسة التمارين الرياضية,يمكن أن يجدول الشخص تمارين القوة ثلاث مرات أسب...

In [31]:
artical = sample_df.introductions
vectorizer = CountVectorizer()
doc_word = vectorizer.fit_transform(artical)
doc_word.shape

(1050, 17548)

In [32]:
pd.DataFrame(doc_word.toarray(), index=artical, columns=vectorizer.get_feature_names()).head(2)

,000,00000000freemem,018,026,03,04,046,048562,06475,09,...,يوميا,يومين,يوناني,يونانية,يونيو,يوهيه,١١٠,١٦,١٧٨,٥٠
introductions,,,,,,,,,,,,,,,,,,,,,
يعتبر زيت جوز الهند من أفضل الزيوت المستخدمة للتخلص من تشققات اليدين و خشونتهما ، و يتم ذلك من خلال دهن يديك بزيت جوز الهند مع التدليك ، و يفضل القيام بذلك قبل الذهاب إلى النوم ، ليبقى الزيت لساعات أطول و كذلك لأن التعرض لأشعة الشمس أثناء وضع الزيت سيعمل على اسمرارهما بسرعة .,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
يمكن أن يجدول الشخص تمارين القوة ثلاث مرات أسبوعيا ، بحيث تصل مدة التمرين الواحد إلى ساعة ، وترك يوم أو يومين من الراحة بين جلسات التمرين ، مما يسمح للعضلات بالحصول على الوقت الكافي للتعافي ، و التقليل من الأخطار الناجمة عن الإفراط في التدريب ، و التي يمكن أن تعيق التقدم في التدريب ، و يجب على الشخص التأكد من التركيز على تكثيف التمرين بدلا من المماطلة فيه ، كما يجب عليه أخذ فترة راحة بين التمارين لمدة تقل عن الدقيقة ، و محاولة الحد من الأحاديث الجانبية الصغيرة مع أعضاء الصالة الرياضية الآخرين .,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [33]:
lsa = TruncatedSVD(8)
doc_topic = lsa.fit_transform(doc_word)
lsa.explained_variance_ratio_

array([0.08120661, 0.04613439, 0.03320134, 0.01997597, 0.01353928,
       0.01077354, 0.01008837, 0.00951145])

In [35]:
topic_word = pd.DataFrame(lsa.components_.round(3),
             index = ["topic_1","topic_2","topic_3","topic_4","topic_5","topic_6","topic_7","topic_8"],
             columns = vectorizer.get_feature_names())
topic_word.head(2)

,000,00000000freemem,018,026,03,04,046,048562,06475,09,...,يوميا,يومين,يوناني,يونانية,يونيو,يوهيه,١١٠,١٦,١٧٨,٥٠
topic_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.006,0.0,0.0,0.0,0.001,0.000,0.0,0.000,0.000,0.0
topic_2,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,...,-0.008,-0.0,-0.0,-0.0,-0.001,0.001,-0.0,-0.001,-0.001,-0.0

In [36]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix+1)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [37]:
display_topics(lsa, vectorizer.get_feature_names(), 10)

Topic  1
من, في, على, إلى, أن, التي, الله, عن, أو, عليه

Topic  2
الله, عليه, صلى, سلم, قال, تعالى, رسول, في, النبي, كان

Topic  3
في, إلى, أن, عام, ذلك, هذا, بعد, قد, مدينة, العالم

Topic  4
على, أن, إلى, الشعر, أو, التي, يمكن, يجب, مع, لا

Topic  5
أن, إلى, أو, الحمل, عن, الصلاة, ما, خلال, بعد, لا

Topic  6
إلى, على, حيث, مدينة, عليه, المدينة, ثم, فيها, عام, السلام

Topic  7
التي, عن, هذه, هي, الله, إلى, تعالى, ما, فيها, بعض

Topic  8
أو, إلى, سلم, يمكن, صلى, عليه, الشعر, ثم, عن, الحمل

# Clean Data

In [ ]:
import pandas as pd
import re
import string
import sys
import argparse
import nltk
from nltk.corpus import stopwords
sw_nltk = stopwords.words('arabic')

In [3]:
articals_df = pd.read_csv('out.csv')

In [4]:
articals_df= articals_df.drop(['Unnamed: 0'], axis=1)

In [5]:
articals_df['artical'] = articals_df['title']+" "+articals_df['introductions'] #artical= title + introductions

In [6]:
articals = articals_df['artical']
articals_dataframe = pd.DataFrame(articals)

In [19]:
# علامات الترقيم العربية
arabic_punctuations = '''`÷×؛<>_()*&^%][ـ،/:"؟.,'{}~¦+|!”…“–ـ'''
english_punctuations = string.punctuation
punctuations_list = arabic_punctuations + english_punctuations


# تشيل الحركات العربية الضمة ، الفتحة ، التنوين ....
arabic_diacritics = re.compile("""
                             ّ    | # Tashdid
                             َ    | # Fatha
                             ً    | # Tanwin Fath
                             ُ    | # Damma
                             ٌ    | # Tanwin Damm
                             ِ    | # Kasra
                             ٍ    | # Tanwin Kasr
                             ْ    | # Sukun
                             ـ     # Tatwil/Kashida
                         """, re.VERBOSE)

# نوحد الحروف 
def normalize_arabic(text):
    text = re.sub("[إأآا]", "ا", text)
    text = re.sub("ى", "ي", text)
    text = re.sub("ؤ", "ء", text)
    text = re.sub("ئ", "ء", text)
    text = re.sub("ة", "ه", text)
    text = re.sub("گ", "ك", text)
    return text

def remove_arabic_numbers(text):
    text = text.replace("٠", "")
    text = text.replace("١", "")
    text = text.replace("٢", "")
    text = text.replace("٣", "")
    text = text.replace("٤", "")
    text = text.replace("٥", "")
    text = text.replace("٦", "")
    text = text.replace("٧", "")
    text = text.replace("٨", "")
    text = text.replace("٩", "")
    return text

def remove_diacritics(text): # تشيل التشكيل-الحركات
    text = re.sub(arabic_diacritics, '', text)
    return text

def remove_punctuations(text):
    translator = str.maketrans('', '', punctuations_list)
    return text.translate(translator)

def remove_repeating_char(text):
    return re.sub(r'(.)\1+', r'\1', text)

parser = argparse.ArgumentParser(description='Pre-process arabic text (remove '
                                             'diacritics, punctuations, and repeating '
                                             'characters).')
def remove_arabic_stopword(text):
    words = [word for word in text.split() if word.lower() not in sw_nltk] ####### بدون شرط الاف
    new_text = " ".join(words)
    return new_text

def removeNonArabicChar(text):
    return re.sub(r'[^0-9\u0600-\u06ff\u0750-\u077f\ufb50-\ufbc1\ufbd3-\ufd3f\ufd50-\ufd8f\ufd50-\ufd8f\ufe70-\ufefc\uFDF0-\uFDFD.0-9]+', ' ', text)


def removeUnnecessarySpaces(text):
    return re.sub(r'[\n\t\ ]+', ' ', text)


def sentTokenize(text):
    return text.replace(".", ". \n- ")

def remove_repeating_char(text):
    return re.sub(r'(.)\1+', r'\1', text)

def normalize_arabic(text):
    text = re.sub("[إأآا]", "ا", text)
    text = re.sub("ى", "ي", text)
    text = re.sub("ؤ", "ء", text)
    text = re.sub("ئ", "ء", text)
    text = re.sub("ة", "ه", text)
    text = re.sub("گ", "ك", text)
    return text

#-------------------------------- جذر الكلمة
from nltk import word_tokenize
from snowballstemmer import stemmer
ar_stemmer = stemmer("arabic")

def stem(text):
    stem = ar_stemmer.stemWord(text)
    return stem

'\nfrom nltk import word_tokenize\nfrom snowballstemmer import stemmer\nar_stemmer = stemmer("arabic")\nword_list = str(articals_dataframe.content)\nwordsfilter=[]\n# Define a function\n\ndef filterr(word_list):\n    for a in word_tokenize(word_list):\n        stem = ar_stemmer.stemWord(a)\n        wordsfilter.append(stem)\n    return wordsfilter\n    \n'

In [20]:
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: stem(x))

In [11]:
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: removeNonArabicChar(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: removeUnnecessarySpaces(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: sentTokenize(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: remove_repeating_char(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: normalize_arabic(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: remove_arabic_numbers(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: remove_punctuations(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: remove_diacritics(x))
articals_dataframe.artical = articals_dataframe.artical.apply(lambda x: remove_arabic_stopword(x))

In [21]:
articals_dataframe

                                                  artical
0       متحف العربي لفن الحديث يعتبر متحف جديد العهد ي...
1       يلاجيو مول يعتبر فيلاجيو مول اهم المجمعات التج...
2       كورنيش الدوحه المنطقه البحريه المتده علي مجموع...
3       منتجع شاطء سيلين يعتبر المنتجع اجمل الاماكن ال...
4       منتجع الغاريه منتجع مطل علي البحر يحوي العديد ...
...                                                   ...
294833  تقشير القدمين يمكن ان يساعد استخدام حجر الفرك ...
294834  منقوع الملح تعد السواءل مفيده استخدامها كجزء ر...
294835  محافظه سلفيت احدي محافظات السلطه الفلسطينيه كن...
294836  اصل التسميه اختلفت الاراء تعدت حول سب تسميتها ...
294837  سكان النشاط الاقتصادي يبلغ عد سكان المحافظه يق...

[294838 rows x 1 columns]

In [22]:
articals_dataframe.to_csv('/Users/abeer/Downloads/Natural-Language-Processing-and-Unsupervised-Learning-Project/cleandArticals.csv',index=False)

In [23]:
import pandas as pd
import re
import nltk
import string
import sys
import argparse

In [25]:
cleand_df = pd.read_csv('cleandArticals.csv')

In [38]:
cleand_df.head(2)

                                             artical
0  متحف العربي لفن الحديث يعتبر متحف جديد العهد ي...
1  يلاجيو مول يعتبر فيلاجيو مول اهم المجمعات التج...

# Models